.idea/
.vscode/
node_modules/
build/
coverage/

.env
dist
ormlogs.log
yarn-error.log

uploads/*
!uplods/.gitkeep

temp/*
!temp/.gitkeep

logs/*
!logs/.gitkeep

.docker/dbdata/*
!.docker/dbdata/.gitkeep