<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Hello {{name}}!</p>
  <p>You've lost your password and requested a link to securely change it.</p>
  <p><a href="{{link}}" target="_blank">Click here</a> to change your password right now.<br>
  This link will be valid for the next two hours.</p>
  <p>After that time passes, the link above won't be valid anymore and a new request will need to be taken.</p>
  <p>If you did not request a password recovery, please ignore this email.</p>
</div>
